.Navbar {
  height: 10%;
  padding: 0;
}

.lightness-container {
  display: flex;
  flex-flow: column;
  width: 15em;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
}

.lightness-container label {
  font-size: 0.9rem;
}